<div id="contact-container">

  <p class="page-header">Contact or Follow Me</p>
  <p>I am currently based out of New Orleans, Louisiana.</p>
  <p><strong>Email:</strong> keith(dot)a(dot)clark24(at)gmail.com</p>
  <hr />
  <p>
    <strong>Follow me on Twitter!</strong> @KeithClarkDev
  </p>


</div>
