<body>


  <div class="full-page-container">

    <div class="pull-page" id="content">


        <p class="page-header">Hello there.</p>
        <div >
          <p id="keith">
            I'm Keith. Web Development is my thing.
          </p>
        </div>
        <p id="home-info">Welcome to my portfolio website, where you can find a collection of projects I've completed or am currently creating.  You'll also find me talking about myself excessively, so, yeah, get ready for that too.
          <br />
        </p>


    </div>

  </div>


</body>
